<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <div class="headerBg">
<nav>
    <button class='navBtns' onclick="window.location.href='/home'">Home</button>
    <button class='navBtns' onclick="window.location.href='/home/profile'">My Profile</button>
    <button class='navBtns' onclick="window.location.href='/home/login'">login</button>
    <!-- login/logout will change to if else statement -->
</nav>
<h1 class = "header">{{header}}</h1>
<!-- this will change depending on what page user is on -->
</div>
  </header>
 {{{body}}}
</body>

</html>
