<div>
    {{posts.id}}
    <p> postID example</p>
    <button class="comment">Comment</button>
    {{#if logged_in:req.sessions.logged_in}}
    <button class="dltPost">Delete Post</button>
    {{/if}}
</div>